@font-face {
  font-family: 'Always';
  src: url('https://github.com/micx83/Simulatore-AN-Nome/raw/main/KGAlways.ttf') format('truetype');
}

@font-face {
  font-family: 'Pacifico';
  src: url('https://github.com/micx83/Simulatore-AN-Nome/raw/main/Pacifico.ttf') format('truetype');
}

@font-face {
  font-family: 'Havana';
  src: url('https://github.com/micx83/Simulatore-AN-Nome/raw/main/Havana-Regular.ttf') format('truetype');

}
@font-face {
  font-family: 'Damion';
  src: url('https://github.com/micx83/Simulatore-AN-Nome/raw/main/Damion.ttf') format('truetype');
}

/* ... and so on for each font ... */

body {
  font-family: Arial, sans-serif;
}

#input-section, #output-section {
  margin: 10px;
}

#output-text {
  font-size: 2em;
}
