@font-face {
  font-family: 'Always';
  src: url('https://cdn.jsdelivr.net/gh/micx83/Simulatore-AN-Nome/Always.ttf') format("truetype");
}

@font-face {
  font-family: 'Pacifico';
  src: url('https://cdn.jsdelivr.net/gh/micx83/Simulatore-AN-Nome/Pacifico.ttf') format('truetype');
}

@font-face {
  font-family: 'Havana';
  src: url('https://cdn.jsdelivr.net/gh/micx83/Simulatore-AN-Nome/Havana-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Damion';
  src: url('https://cdn.jsdelivr.net/gh/micx83/Simulatore-AN-Nome/Damion.ttf') format('truetype');
}
/* ... and so on for each font ... */

#font-selector option[value="Always"] {
  font-family: 'Always';
}

#font-selector option[value="Pacifico"] {
  font-family: 'Pacifico';
}

#font-selector option[value="Pacifico"] {
  font-family: 'Havana';
}

#font-selector option[value="Pacifico"] {
  font-family: 'Damion';
}

#text-input, #font-selector, #render-button{
  font-size: 15px;
  width: 200px;
  height: 40px;
  border: solid 1px;
  background-color: transparent;
}

body {
  font-family: Arial, sans-serif;
}

#input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* This will add some space between the input, select, and button */
}

#output-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#output-text {
  font-size: 2em;
}
